@charset "UTF-8";
/* 
  Guía de estilos:
  1. Imports
  2. Variables
  3. General
  4. Aside-left
  5. Section-principal
  6. Aside-right
  7. Post-example
  8. Header_PE
  9. Aside_right_PE
  10. Section_principal_PE
  11. Aside_left_PE
  12. Footer_Pe
  13. Testing
*/
/* 1. Variables */
.ff-sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ff-monospace {
  font-family: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.ff-serif {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.ff-comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.ff-dyslexic {
  font-family: OpenDyslexic, sans-serif;
}

/* 2. General */
html {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f8f9fa;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #b7b9ba;
  border: 1px solid rgba(56, 57, 58, 0.5);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.fs-0_25 {
  font-size: 6rem !important;
}

.fs-0_5 {
  font-size: 3rem !important;
}

.fs-1 {
  font-size: 1.5rem !important;
}

.fs-1_5 {
  font-size: 1.25rem !important;
}

.fs-2 {
  font-size: 1rem !important;
}

.fs-2-5 {
  font-size: 0.875rem !important;
}

.fs-3 {
  font-size: 0.75rem !important;
}

.fs-4 {
  font-size: 0.5rem !important;
}

.fs-5 {
  font-size: 0.25rem !important;
}

.fs-6 {
  font-size: 0.125rem !important;
}

.text-blue-devto {
  color: #3b39df;
}

.bg-blue-devto {
  background-color: #3b39df;
}

.btn-blue-devto {
  background-color: #3b39df;
}

.shadow-full_01 {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.shadow-full_025 {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 1px rgba(0, 0, 0, 0.25);
}

.shadow-full_05 {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.shadow-full_1 {
  -webkit-box-shadow: 1px 1px 1px black, -1px -1px 1px black;
          box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

.devto-style {
  -webkit-box-shadow: 4px 4px 0 black;
          box-shadow: 4px 4px 0 black;
  border: 2px solid black;
}

.m--misery-left {
  margin-left: 15px !important;
}

.m--misery-right {
  margin-right: 15px !important;
}

/* 3. Header */
/* 8. Post-example */
header {
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

header .img-user-nav {
  border-radius: 100%;
  height: 32px;
  width: 32px;
}

header .dropdown-toggle-with-img-nav:after {
  display: none;
}

header .dropdown-menu-nav-user {
  width: 250px;
  -webkit-box-shadow: 4px 4px 0 black;
          box-shadow: 4px 4px 0 black;
  border: 2px solid black;
}

/* 4. Aside-left */
#aside-left .list-group {
  background-color: #f8f9fa;
  border: 0px none transparent !important;
}

#aside-left .list-group .list-group-item {
  background-color: #f8f9fa;
  border: 0px none transparent;
  padding: 0;
}

#aside-left .icon-aside-left {
  color: #64707d;
  cursor: pointer;
}

#aside-left .icon-aside-left:hover {
  color: black;
}

#aside-left #popular-tags {
  height: 380px;
}

#aside-left #more_checkbox_aside_left {
  display: block;
  bottom: -15px;
  background-color: white;
  height: 38px;
  z-index: 10;
}

#aside-left #more_checkbox_aside_left::after {
  content: "More ...";
  padding: 6px 12px 6px 42px;
  background-color: #f8f9fa;
  color: #7b8996;
  display: block;
  width: 100%;
  height: 38px;
  cursor: pointer;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

#aside-left #more_checkbox_aside_left:hover::after {
  background-color: #e2e6ea;
}

#aside-left #more_checkbox_aside_left:not(:checked) ~ li {
  display: none;
}

#aside-left #more_checkbox_aside_left:checked {
  display: none;
}

#aside-left #more_checkbox_aside_left:checked ~ #pls_d_none_in_check {
  display: none;
}

#aside-left #more_checkbox_aside_left:checked ~ li {
  display: block;
}

#aside-left .icons-socialm:hover {
  color: #4d5760;
}

/* 5. Section-principal */
#section-principal .nav .nav-item:first-child {
  position: relative;
}

#section-principal .nav .nav-item:first-child::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 41.55px;
  height: 3px;
  border-bottom: 3px solid #3a47df;
  border-radius: 1rem;
}

#section-principal .nav .nav-item:first-child:hover::after {
  height: 6px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  left: 0;
  width: 61.55px;
}

#section-principal .nav .nav ul li.lista {
  height: 5px;
  width: 3rem;
  color: #3a47df;
}

#section-principal .nav .main-section-navbar-btn:hover {
  color: #3a47df;
  background: #dcdfef;
}

#section-principal .img-user {
  border-radius: 100%;
  height: 32px;
  width: 32px;
}

#section-principal .card-title-hover {
  color: black;
}

#section-principal .card-title-hover:hover {
  color: #323ebd;
}

#section-principal .btn-card-save {
  color: black;
  background: #d7e0ea;
  border: none;
  margin-left: 0.5rem;
}

#section-principal .btn-card-save:hover {
  color: black;
  background: #b5bdc4;
}

#section-principal .post-hashtag:hover {
  color: black;
}

/* 6. Aside-right */
#aside-right span {
  color: blue;
}

#aside-right b {
  background-color: #3b49df;
  color: white;
  font-family: monospace;
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid;
  text-align: left;
}

#aside-right strong {
  font-weight: 500;
  color: blue;
  text: right;
}

#aside-right small {
  color: #64707d;
  font-size: 1rem;
}

#aside-right a.card-link.btn-white {
  padding: 0.75rem;
}

#aside-right .card {
  background-color: #f8f9fa;
}

#aside-right .card .card-body {
  border: 0px none transparent;
}

#aside-right .card .card-body .btn-aside-left-to-hover:hover {
  background: white;
}

/* 7. Post-example */
#post_example {
  /* 9. Aside_right_PE */
  /* 10. Section_principal_PE */
  /* 11. Aside_left_PE */
  /* 12. Footer_Pe */
}

#post_example #aside_right_PE #A_R_PE_toolbar {
  margin-bottom: 1rem;
}

#post_example #aside_right_PE #A_R_PE_toolbar #kokoro_icon,
#post_example #aside_right_PE #A_R_PE_toolbar #caballo_con_cuerno,
#post_example #aside_right_PE #A_R_PE_toolbar #bookmark_icon {
  padding: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

#post_example #aside_right_PE #A_R_PE_toolbar #tres_puntos_ese {
  width: 45px !important;
  height: 45px !important;
  cursor: pointer;
}

#post_example #aside_right_PE #A_R_PE_toolbar #kokoro_icon:hover {
  background-color: #eddbdc;
  color: #be1f20 !important;
}

#post_example #aside_right_PE #A_R_PE_toolbar #caballo_con_cuerno:hover {
  background-color: #dfeeee;
}

#post_example #aside_right_PE #A_R_PE_toolbar #caballo_con_cuerno:hover svg {
  color: #26d9ca;
}

#post_example #aside_right_PE #A_R_PE_toolbar #bookmark_icon:hover {
  background-color: #dcdfef;
}

#post_example #aside_right_PE #A_R_PE_toolbar #bookmark_icon:hover svg {
  color: #3944a2;
}

#post_example #aside_right_PE #tres_puntos_ese:hover {
  background-color: #e6e8e8;
}

#post_example #section_principal_PE {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}

#post_example #section_principal_PE::-webkit-scrollbar {
  width: 0px;
}

#post_example #section_principal_PE::-webkit-scrollbar-track {
  background: transparent;
}

#post_example #section_principal_PE::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100%;
  border: 0px none transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

#post_example #section_principal_PE .card .card-img-top {
  width: 100%;
}

#post_example #section_principal_PE .card .card-body .span-tag {
  padding: 0.25rem;
  margin: 0.12rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

#post_example #section_principal_PE .card .card-body .span-tag:first-of-type {
  background-color: #26d9ca;
  color: white;
}

#post_example #section_principal_PE .card .card-body .span-tag:nth-of-type(2) {
  background-color: #be1f20;
  color: white;
}

#post_example #section_principal_PE .card .card-body .span-tag:nth-of-type(3) {
  background-color: chocolate;
  color: white;
}

#post_example #section_principal_PE .card .card-body .span-tag:nth-last-of-type(2) {
  background-color: mediumvioletred;
  color: white;
}

#post_example #section_principal_PE .card .card-body .span-tag:last-of-type {
  background-color: aqua;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things img {
  width: 45px;
  height: 45px;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things p {
  line-height: 45px;
  margin-bottom: 0;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things .dropdown .lh-- {
  line-height: 0.75rem;
  padding-bottom: 1rem;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things .dropdown .btn:hover {
  background: #d2d6db;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things .dropdown .dropdown-toggle:after {
  display: none;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things .reaction-buttons-PE-SP .btn:hover {
  background: #d2d6db;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things-read-next img {
  width: 65px;
  height: 65px;
}

#post_example #section_principal_PE .card .card-body .user_info_and_things-read-next p {
  margin-bottom: 0 !important;
}

#post_example #aside_left_PE {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}

#post_example #aside_left_PE::-webkit-scrollbar {
  width: 0px;
}

#post_example #aside_left_PE::-webkit-scrollbar-track {
  background: transparent;
}

#post_example #aside_left_PE::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100%;
  border: 0px none transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

#post_example #aside_left_PE .post-img-user {
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
}

#post_example #aside_left_PE .post-card-username {
  border-top: 35px solid #56102a;
}

#post_example #aside_left_PE .post-card-username button .follow-button-user {
  background: #4346ff;
}

#post_example #aside_left_PE .post-card-username button .follow-button-user:hover {
  background: #323ebe;
}

#post_example #aside_left_PE .post-card-username .post-img-user {
  margin-top: -32.5px;
}

#post_example #aside_left_PE .post-card-username .post-img-user img {
  width: 45px;
  height: 45px;
}

#post_example #aside_left_PE .post-card-username .post-img-user p {
  margin-bottom: 0;
}

#post_example #aside_left_PE .post-card-username .right-user-img-card {
  height: 55px;
  width: 55px;
}

#post_example footer {
  background: #d2d6db;
}

#post_example footer .nav .nav-item a {
  color: #08090a;
}

#post_example footer .nav .nav-item a:hover {
  color: #007bff;
}

#post_example footer .nav .nav-item a svg {
  color: #64707d !important;
}

#post_example footer hr {
  background-color: #64707d !important;
}

@media screen and (min-width: 770px) {
  #aside_right_PE {
    height: calc(100vh - 66px);
  }
  #aside_right_PE #A_R_PE_toolbar {
    top: 15vh;
  }
}

@media screen and (max-width: 770px) {
  #aside_right_PE {
    height: 400vh;
  }
  #aside_right_PE #A_R_PE_toolbar {
    top: 10vh;
  }
}

/* 13.Testing */
#aside-left,
#section-principal,
#aside-right {
  min-height: 300px;
}
/*# sourceMappingURL=style.css.map */