/* 
  Guía de estilos:
  1. Imports
  2. Variables
  3. General
  4. Aside-left
  5. Section-principal
  6. Aside-right
  7. Post-example
  8. Header_PE
  9. Aside_right_PE
  10. Section_principal_PE
  11. Aside_left_PE
  12. Footer_Pe
  13. Testing
*/

/* 1. Variables */
$ff-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$ff-monospace: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$ff-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$ff-comic: "Comic Sans MS", cursive, sans-serif;
$ff-dyslexic: OpenDyslexic, sans-serif;

.ff-sans-serif {
  font-family: $ff-sans-serif;
}
.ff-monospace {
  font-family: $ff-monospace;
}
.ff-serif {
  font-family: $ff-serif;
}
.ff-comic {
  font-family: $ff-comic;
}
.ff-dyslexic {
  font-family: $ff-dyslexic;
}

/* 2. General */
html {
  overflow-x: hidden;
}

body {
  font-family: $ff-sans-serif;
  background-color: #f8f9fa;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color: #38393a, $amount: 50);
    border: 1px solid rgba($color: #38393a, $alpha: 0.5);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
}

.fs-0_25 {
  font-size: 6rem !important;
}

.fs-0_5 {
  font-size: 3rem !important;
}

.fs-1 {
  font-size: 1.5rem !important;
}

.fs-1_5 {
  font-size: 1.25rem !important;
}

.fs-2 {
  font-size: 1rem !important;
}

.fs-2-5 {
  font-size: 0.875rem !important;
}

.fs-3 {
  font-size: 0.75rem !important;
}

.fs-4 {
  font-size: 0.5rem !important;
}

.fs-5 {
  font-size: 0.25rem !important;
}

.fs-6 {
  font-size: 0.125rem !important;
}

.text-blue-devto {
  color: #3b39df;
}

.bg-blue-devto {
  background-color: #3b39df;
}

.btn-blue-devto {
  background-color: #3b39df;
}

.shadow-full_01 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.shadow-full_025 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 1px rgba(0, 0, 0, 0.25);
}

.shadow-full_05 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.shadow-full_1 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(0, 0, 0, 1);
}

.devto-style {
  box-shadow: 4px 4px 0 black;
  border: 2px solid black;
}

.m--misery-left {
  margin-left: 15px !important;
}

.m--misery-right {
  margin-right: 15px !important;
}

/* 3. Header */
/* 8. Post-example */
header {
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .img-user-nav {
    border-radius: 100%;
    height: 32px;
    width: 32px;
  }

  .dropdown-toggle-with-img-nav:after {
    display: none;
  }

  .dropdown-menu-nav-user {
    width: 250px;
    box-shadow: 4px 4px 0 black;
    border: 2px solid black;
  }
}

/* 4. Aside-left */
#aside-left {
  .list-group {
    background-color: #f8f9fa;
    border: 0px none transparent !important;

    .list-group-item {
      background-color: #f8f9fa;
      border: 0px none transparent;
      padding: 0;
    }
  }

  .icon-aside-left {
    color: #64707d;
    cursor: pointer;
    &:hover {
      color: darken($color: #64707d, $amount: 50);
    }
  }

  #popular-tags {
    height: 380px;
  }

  #more_checkbox_aside_left {
    display: block;
    bottom: -15px;
    background-color: white;
    height: 38px;
    z-index: 10;
  }

  #more_checkbox_aside_left::after {
    content: "More ...";
    padding: 6px 12px 6px 42px;
    background-color: #f8f9fa;
    color: lighten($color: #08090a, $amount: 50);
    display: block;
    width: 100%;
    height: 38px;
    cursor: pointer;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }

  #more_checkbox_aside_left:hover::after {
    background-color: #e2e6ea;
  }

  #more_checkbox_aside_left:not(:checked) ~ li {
    display: none;
  }

  #more_checkbox_aside_left:checked {
    display: none;
  }

  #more_checkbox_aside_left:checked ~ #pls_d_none_in_check {
    display: none;
  }

  #more_checkbox_aside_left:checked ~ li {
    display: block;
  }

  .icons-socialm {
    &:hover {
      color: #4d5760;
    }
  }
}

/* 5. Section-principal */
#section-principal {
  .nav {
    .nav-item:first-child {
      position: relative;
      // border-bottom: 2px solid hsl(235, 72%, 55%);
    }
    .nav-item:first-child::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 41.55px;
      height: 3px;
      border-bottom: 3px solid hsl(235, 72%, 55%);
      border-radius: 1rem;
    }

    .nav-item:first-child:hover::after {
      height: 6px;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      left: 0;
      width: 61.55px;
    }

    .nav ul li.lista {
      height: 5px;
      width: 3rem;
      color: hsl(235, 72%, 55%);
    }
    .main-section-navbar-btn {
      &:hover {
        color: hsl(235, 72%, 55%);
        background: hsl(231, 37%, 90%);
      }
    }
  }
  .img-user {
    border-radius: 100%;
    height: 32px;
    width: 32px;
  }
  .card-title-hover {
    color: black;
    &:hover {
      color: hsl(235, 58%, 47%);
    }
  }
  .btn-card-save {
    color: black;
    background: hsl(210, 30%, 88%);
    border: none;
    margin-left: 0.5rem;
    &:hover {
      color: black;
      background: hsl(208, 11%, 74%);
    }
  }
  .post-hashtag {
    &:hover {
      color: black;
    }
  }
}

/* 6. Aside-right */
#aside-right {
  span {
    color: blue;
  }

  b {
    background-color: #3b49df;
    color: white;
    font-family: monospace;
    padding-top: 4px;
    border-radius: 5px;
    border: 1px solid;
    text-align: left;
  }

  strong {
    font-weight: 500;
    color: blue;
    text: right;
  }

  small {
    color: #64707d;
    font-size: 1rem;
  }
  a.card-link.btn-white {
    padding: 0.75rem;
  }

  .card {
    background-color: #f8f9fa;
    .card-body {
      border: 0px none transparent;

      .btn-aside-left-to-hover {
        &:hover {
          background: lighten($color: #f8f9fa, $amount: 25);
        }
      }
    }
  }
}

/* 7. Post-example */
#post_example {
  /* 9. Aside_right_PE */
  #aside_right_PE {
    #A_R_PE_toolbar {
      margin-bottom: 1rem;

      #kokoro_icon,
      #caballo_con_cuerno,
      #bookmark_icon {
        padding: 10px;
        margin-bottom: 0;
        cursor: pointer;
      }

      #tres_puntos_ese {
        width: 45px !important;
        height: 45px !important;
        cursor: pointer;
      }

      #kokoro_icon:hover {
        background-color: #eddbdc;
        color: #be1f20 !important;
      }

      #caballo_con_cuerno:hover {
        background-color: #dfeeee;
        svg {
          color: #26d9ca;
        }
      }

      #bookmark_icon:hover {
        background-color: #dcdfef;
        svg {
          color: #3944a2;
        }
      }
    }

    #tres_puntos_ese:hover {
      background-color: #e6e8e8;
    }
  }

  /* 10. Section_principal_PE */
  #section_principal_PE {
    height: calc(100vh - 66px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 100%;
      border: 0px none transparent;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }

    .card {
      .card-img-top {
        width: 100%;
      }

      .card-body {
        .span-tag {
          padding: 0.25rem;
          margin: 0.12rem;
          border-radius: 0.25rem;
          -webkit-border-radius: 0.25rem;
          -moz-border-radius: 0.25rem;
          -ms-border-radius: 0.25rem;
          -o-border-radius: 0.25rem;
        }
        .span-tag:first-of-type {
          background-color: #26d9ca;
          color: white;
        }
        .span-tag:nth-of-type(2) {
          background-color: #be1f20;
          color: white;
        }
        .span-tag:nth-of-type(3) {
          background-color: chocolate;
          color: white;
        }
        .span-tag:nth-last-of-type(2) {
          background-color: mediumvioletred;
          color: white;
        }
        .span-tag:last-of-type {
          background-color: aqua;
        }

        .user_info_and_things {
          img {
            width: 45px;
            height: 45px;
          }
          p {
            line-height: 45px;
            margin-bottom: 0;
          }

          .dropdown {
            .lh-- {
              line-height: 0.75rem;
              padding-bottom: 1rem;
            }

            .btn:hover {
              background: hsl(213, 11%, 84%);
            }

            .dropdown-toggle:after {
              display: none;
            }
          }

          .reaction-buttons-PE-SP .btn:hover {
            background: hsl(213, 11%, 84%);
          }
        }

        .user_info_and_things-read-next {
          img {
            width: 65px;
            height: 65px;
          }

          p {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  /* 11. Aside_left_PE */
  #aside_left_PE {
    height: calc(100vh - 66px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 100%;
      border: 0px none transparent;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
    .post-img-user {
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
    }
    .post-card-username {
      border-top: 35px solid hsl(338, 68%, 20%);
      button .follow-button-user {
        background: rgb(67, 70, 255);
        &:hover {
          background: rgb(50, 62, 190);
        }
      }
      .post-img-user {
        margin-top: -32.5px;
        img {
          width: 45px;
          height: 45px;
        }
        p {
          // line-height: 45px;
          margin-bottom: 0;
        }
      }
      // .left-post-img-user-container {
      // }

      .right-user-img-card {
        // position: absolute;
        // top: -10%;
        height: 55px;
        width: 55px;
      }
    }
  }

  /* 12. Footer_Pe */
  footer {
    background: hsl(213, 11%, 84%);
    .nav {
      .nav-item {
        a {
          color: #08090a;
          &:hover {
            color: #007bff;
          }

          svg {
            color: #64707d !important;
          }
        }
      }
    }

    hr {
      background-color: #64707d !important;
    }
  }
}

@media screen and (min-width: 770px) {
  #aside_right_PE {
    height: calc(100vh - 66px);
    #A_R_PE_toolbar {
      top: 15vh;
    }
  }
}

@media screen and (max-width: 770px) {
  #aside_right_PE {
    height: 400vh;
    #A_R_PE_toolbar {
      top: 10vh;
    }
  }
}

/* 13.Testing */
#aside-left,
#section-principal,
#aside-right {
  min-height: 300px;
}
